.board {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .column {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    height: auto;
    flex: 1;
    overflow-y: auto;
    transition: height 0.3s;
    position: relative;
    padding-top: 30px;
  }

  .column button {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    z-index: 10; 
  }
  
  .card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: grabbing;
    position: relative;
    height: auto;
    z-index: 5;
  }
  
  .card-input {
    flex-grow: 1;
    resize: none;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    cursor: grabbing;
  }
  
  
  .card.dragging {
    opacity: 0.5;
  }
  
  .delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }

  .delete-button {
    visibility: hidden;
}